<h1 class="text-center text-info">Admin Dashboard</h1>
<%= link_to 'List all blog posts', admin_blogs_path %>
<%= link_to 'Create a blog', new_admin_blog_path %>
<%= link_to 'Create a user', new_admin_user_path %>
<%= link_to 'List Users', admin_users_path %>