.footer {
    margin-top: 20%;
    margin-botton: 0px;
    background-color: #edf9f4;
}

.main-text-orange {
    color: orange !important;
}

.quote
{
    padding-left: 6%;
}
.navbar-brand {
    font-weight: bold;
    color: orange !important;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}